body {
    margin: 0;
    font-size: 18px;
    font-family: lato, sans-serif;
    color: #2E354F
}

          /* Typography */
h1,
h2,
strong {
    font-weight: 900;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    color: #EF5839;
}

a {
    color: #EF5839;
}

a:hover,
a:focus {
    color: #D4b44C
}

/* Layout */

header {
    background: #2E354F;
    padding: 45px 0;
    color: #fff;
}

.container {
    width: 620px;
    margin: 0 auto;
}

section {
    padding: 45px 0;
}

.section-two {
    background: #2E354F;
    color: #fff;
}

.scooter {
    max-width: 620px;
    height: auto;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 10px 25px;
    text-decoration: none;
}

.btn-accent {
    background: #ef5839;
    color: #fff;
}

.btn-accent:hover {
    color: black;
    background: #fff;
}

.btn-white {
    background: #fff;
    color: #2e354f;
}

.btn-white:hover {
    color: #fff;
    background: black;
}